bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
OsuLauncher/Dialogs/AuthCodeDialog.xaml.cs
.idea
API Test App

OsuLauncher/Pages/WikiPage.xaml

OsuLauncher/Pages/WikiPage.xaml.cs

OsuLauncher/Pages/Settings/AccountSettings.xaml.cs

OsuLauncher/appsettings.json

*.bin
*.vs
*Properties
.vs/ProjectSettings.json


OsuLauncher/Properties/Settings.Designer.cs

OsuLauncher/Properties/Settings.settings

Installer/
