<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OsuLauncher.Properties.LauncherSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="OsuLauncher.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="OsuLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OsuLauncher.Properties.LauncherSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OsuLauncher.Properties.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OsuLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <OsuLauncher.Properties.LauncherSettings>
            <setting name="UpdateUrl" serializeAs="String">
                <value />
            </setting>
        </OsuLauncher.Properties.LauncherSettings>
        <OsuLauncher.Properties.AppSettings>
            <setting name="UpdateUrl" serializeAs="String">
                <value>https://raw.githubusercontent.com/DiekoMA/OsuLauncher/master/UpdateInfo.xml</value>
            </setting>
            <setting name="RichPresenceClientId" serializeAs="String">
                <value>1117114635821268992</value>
            </setting>
        </OsuLauncher.Properties.AppSettings>
        <OsuLauncher.Properties.Settings>
            <setting name="Test" serializeAs="String">
                <value>RandomString</value>
            </setting>
        </OsuLauncher.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <OsuLauncher.Properties.LauncherSettings>
            <setting name="OfflineStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SongsDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="GameDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="TrainingClientDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="ThemeBase" serializeAs="String">
                <value />
            </setting>
            <setting name="ThemeAccent" serializeAs="String">
                <value />
            </setting>
            <setting name="LaunchPreference" serializeAs="String">
                <value />
            </setting>
            <setting name="UseCustomRPC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RichPresenceClientId" serializeAs="String">
                <value />
            </setting>
            <setting name="BeatmapOpt" serializeAs="String">
                <value>False</value>
            </setting>
        </OsuLauncher.Properties.LauncherSettings>
        <OsuLauncher.Properties.AppSettings>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameDirectory" serializeAs="String">
                <value>C:\Users\Mayowa\AppData\Local\osu!</value>
            </setting>
            <setting name="SongsDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="TrainingClientDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="UseCustomRPC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThemeBase" serializeAs="String">
                <value />
            </setting>
            <setting name="ThemeAccent" serializeAs="String">
                <value />
            </setting>
            <setting name="LaunchPreference" serializeAs="String">
                <value />
            </setting>
            <setting name="OfflineStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BeatmapOpt" serializeAs="String">
                <value>False</value>
            </setting>
        </OsuLauncher.Properties.AppSettings>
        <OsuLauncher.Properties.Settings>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GameDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SongsDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="TrainingClientDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="UseCustomRPC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThemeBase" serializeAs="String">
                <value />
            </setting>
            <setting name="ThemeAccent" serializeAs="String">
                <value />
            </setting>
            <setting name="LaunchPreference" serializeAs="String">
                <value />
            </setting>
        </OsuLauncher.Properties.Settings>
    </userSettings>
</configuration>